
.printInputText {
    font-size: 14px !important;
    padding: 0 2px !important;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], select,
textarea,
textarea.form-control {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

textarea,
textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, select:focus,
textarea:focus,
textarea.form-control:focus {
    outline: 0;
    background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

selecr:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder {
    color: #888;
}

select:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
    color: #888;
}

select::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
    color: #888;
}

button.btn {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

button.btn:hover {
    opacity: 0.6;
    color: #fff;
}

button.btn:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.btn:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}

button.btn:active:focus, button.btn.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}

#tags {

    border: 3px solid #ddd;
    padding: 5px;
    font-family: Arial;
    border-radius: 4px;
    background: #f8f8f8;
}

#tags span.tag {
    cursor: pointer;
    display: block;
    float: left;
    color: #fff;
    background: #19b9e7;
    padding: 5px;
    padding-right: 25px;
    border-radius: 4px;
    margin: 4px;
}

#tags span.tag:hover {
    opacity: 0.7;
}

#tags span.tag:after {
    /*position:absolute;*/
    /*content:"x";*/
    /*border:1px solid;*/
    /*padding:0 4px;*/
    /*margin:3px 0 10px 5px;*/
    /*font-size:10px;*/
}

#tags input {
    background: #f8f8f8;
    border: 0;
    padding: 7px;
    width: auto;
}

.form-rem-tag {
    left: 20PX;
    top: 3px;
}

.form-group label {
    display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}